:root {
    --max-width: 1000px;
    --primary-color: hsl(0, 50%, 50%);
}

::selection {
    background-color: var(--primary-color);
    color: hsl(0, 0%, 100%);
}

html,
body {
    padding: 0;
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
        Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
    background-color: hsl(0, 0%, 100%);
    color: hsl(0, 0%, 0%);
}

a {
    color: inherit;
    text-decoration: none;
}

* {
    box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
    html {
        color-scheme: dark;
    }

    body {
        background-color: hsl(0, 0%, 0%);
        color: hsl(0, 0%, 100%);
    }
}